.tabs--list-btn[data-tab],
.labels--list-btn[data-label],
.label--add-btn,
.task--add-btn {
  height: 2rem;
  text-align: start;
  padding: 0.25rem 0.5rem;

  @extend %display-flex;
  @extend %align-items-center;

  @include width-height($__full__width, $__full__height);
  @include transition(all 200ms ease);

  &::before {
    content: '';
    display: inline-flex;
    background-size: 1.5rem;
    height: 1.5rem;
    width: 1.5rem;
    margin-right: 0.25rem;
    opacity: 0.6;
  }
}

.tabs--list-btn[data-tab='inbox']::before {
  background-image: url('/icons/inventory_2_FILL0_wght700_GRAD0_opsz48.svg');
}
.tabs--list-btn[data-tab='today']::before {
  background-image: url('/icons/today_FILL0_wght700_GRAD0_opsz48.svg');
}
.tabs--list-btn[data-tab='upcoming']::before {
  background-image: url('/icons/date_range_FILL0_wght700_GRAD0_opsz48.svg');
}
.labels--list-btn[data-label]::before {
  background-image: url('/icons/label_FILL0_wght700_GRAD0_opsz48.svg');
}

.label--add-btn,
.task--add-btn {
  &::before {
    background-image: url('/icons/add_FILL0_wght700_GRAD0_opsz48.svg');
    @include transition(transform 300ms ease);
  }
  &:hover {
    &::before {
      @include transform(rotate(90deg));
      @include transition(transform 300ms ease);
    }
  }
}

.task--add-btn {
  width: fit-content;
  border: 1px solid transparent;
  border-radius: 10px;
  &:hover {
    border: 1px solid $__grey400;
    background-color: $__grey300;
  }
}

.actions-btn {
  @extend %display-flex;
  @extend %align-items-center;
  &::after {
    content: '';
    display: inline-flex;
    background-size: 1rem;
    height: 1rem;
    width: 1rem;
  }
}

.btn-delete {
  &::after {
    background-image: url('/icons/delete_FILL0_wght500_GRAD0_opsz48.svg');
  }
  &:hover::after {
    background-image: url('/icons/delete_FILLred_wght500_GRAD0_opsz48.svg');
  }
}
.btn-edit {
  &::after {
    background-image: url('/icons/edit_FILL0_wght400_GRAD0_opsz48.svg');
  }
  &:hover::after {
    background-image: url('/icons/edit_FILL0blue_wght400_GRAD0_opsz48.svg');
  }
}
.btn-show {
  &::after {
    background-image: url('/icons/visibility_FILL0_wght400_GRAD0_opsz48.svg');
  }
  &:hover::after {
    background-image: url('/icons/visibility_FILL0green_wght400_GRAD0_opsz48.svg');
  }
}

.input-label-cancel {
  &::after {
    content: '';
    display: inline-block;
    background-size: 1.5rem;
    height: 1.5rem;
    width: 1.5rem;
    background-image: url('/icons/close_FILL1_wght200_GRAD0_opsz48.svg');
  }
}
.input-label-valid {
  &::after {
    content: '';
    display: inline-block;
    background-size: 1.5rem;
    height: 1.5rem;
    width: 1.5rem;
    background-image: url('/icons/done_FILL0green_wght700_GRAD0_opsz48.svg');
  }
}

.button--border {
  color: $__sub;
  position: relative;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: $__bold;
  padding: 0.5rem 1rem;
  border-radius: 25px;
  margin: 1rem 0;

  &::after {
    content: '';
    position: absolute;
    top: -4px;
    left: -4px;
    right: -4px;
    bottom: -4px;
    border-radius: 25px;
  }

  &.orange {
    background: $__primary;
    &:hover {
      &:after {
        border: $__primary 2px solid;
      }
    }
  }
}

.button--close {
  cursor: pointer;
  &:hover {
    opacity: 0.7;
  }
  &::after {
    content: '';
    border-radius: 5px;
    display: inline-block;
    background-size: 1.5rem;
    height: 1.5rem;
    width: 1.5rem;
    background-color: red;
    background-image: url('/icons/close_FILL0_wght700_GRAD0_opsz48.svg');
  }
}
