@media only screen and (max-width: 699px) {
  .nav {
    width: $__full__width;
    height: 0;
    overflow: hidden;
    position: relative;
    top: -2rem;

    &[data-visible='true'] {
      height: fit-content;
      top: 0rem;
      padding: 2rem 1rem 0 2rem;
    }
  }
}

.nav {
  width: $__full__width;
  background-color: $__grey300;
  color: $__main;
  font-weight: $__bold;
  padding: 2rem 1rem 0 2rem;

  @include mq(custom700) {
    width: 15rem;
    min-height: 100%;
  }
}

.tab--list-item {
  margin-bottom: 1rem;

  &:last-child {
    margin-bottom: 0;
  }
}

.tab--list-item,
.label--add {
  border-radius: 5px;
  border: 1px solid transparent;
  &:hover {
    background-color: rgba(189, 189, 189, 0.5);
    border: 1px solid $__grey500;
    @include transition(all 200ms ease);

    &.orange {
      background-color: rgba(236, 79, 31, 0.3);
    }
  }
}

.tab--list-item[aria-selected='active'] {
  background-color: rgba(189, 189, 189, 0.5);
  border: 1px solid $__grey500;
}

.nav--label {
  .label--title,
  .label--add {
    margin: 1rem 0;
  }
}

.tab--list-btn[data-tab],
.tab--list-btn[data-label],
.label--add-btn {
  height: 2rem;
  text-align: start;
  padding: 0.25rem 0.5rem;

  @extend %display-flex;
  @extend %align-items-center;

  @include width-height($__full__width, $__full__height);
  @include transition(all 200ms ease);

  &::before {
    content: '';
    display: inline-flex;
    background-size: 1.5rem;
    height: 1.5rem;
    width: 1.5rem;
    margin-right: 0.25rem;
    opacity: 0.6;
  }
}

.tab--list-btn[data-tab='inbox']::before {
  background-image: url('/icons/inventory_2_FILL0_wght700_GRAD0_opsz48.svg');
}
.tab--list-btn[data-tab='today']::before {
  background-image: url('/icons/today_FILL0_wght700_GRAD0_opsz48.svg');
}
.tab--list-btn[data-tab='upcoming']::before {
  background-image: url('/icons/date_range_FILL0_wght700_GRAD0_opsz48.svg');
}
.tab--list-btn[data-label]::before {
  background-image: url('/icons/label_FILL0_wght700_GRAD0_opsz48.svg');
}
.label--add-btn {
  &::before {
    background-image: url('/icons/add_FILL0_wght700_GRAD0_opsz48.svg');
    @include transition(transform 300ms ease);
  }
  &:hover {
    &::before {
      @include transform(rotate(90deg));
      @include transition(transform 300ms ease);
    }
  }
}

.label--list-item {
  @include width-height($__full__width, $__full__height);
  @extend %display-flex;
  @extend %align-items-center;
}

.label--list-delete {
  @extend %display-flex;
  @extend %align-items-center;
  &::after {
    content: '';
    display: inline-flex;
    background-size: 1.5rem;
    background-size: 1rem;
    height: 1rem;
    width: 1rem;
    margin-right: 0.25rem;
    opacity: 0.6;
  }
}
.label--list-delete {
  &::after {
    background-image: url('/icons/delete_FILL0_wght500_GRAD0_opsz48.svg');
  }
  &:hover::after {
    background-image: url('/icons/delete_FILLred_wght500_GRAD0_opsz48.svg');
  }
}
