.menu--toggler {
  z-index: 1001;
  position: absolute;
  top: 0;
  right: 1rem;
  @extend %flex-center;

  @include width-height(3.25rem, 4rem);
  @include transition(all 150ms ease);

  cursor: pointer;

  &-burger {
    @include width-height(35px, 3px);
    display: inline-flex;
    background-color: $__sub;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);

    @include transition(all 150ms ease);

    &::before,
    &::after {
      content: '';
      position: absolute;
      @include width-height(35px, 3px);
      background: $__sub;
      border-radius: 5px;
      box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
      @include transition(all 150ms ease);
    }

    &::before {
      transform: translateY(10px);
    }

    &::after {
      transform: translateY(-10px);
    }
  }
}

/** Burger Animation  **/
.menu--toggler.open {
  background-color: transparent;
  /*** remove the middle line burger ***/
  .menu--toggler-burger {
    transform: translateX(0);
    background: transparent;
    box-shadow: none;
  }
  /*** transform the burger to a X ***/
  .menu--toggler-burger::before {
    transform: rotate(45deg);
  }
  .menu--toggler-burger::after {
    transform: rotate(-45deg);
  }
}

/** Burger Animation END **/

@media only screen and (min-width: 700px) {
  .menu--toggler {
    display: none;
  }
}
